.add-product-page {
  label {
    font-size: 18px;
    line-height: 1.1;
  }
  .inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    margin-top: 10px;
  }
  #product_form {
    padding: 16px;
  }
  .input-container {
  }
  input {
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #000;
    width: 200px;
  }
  .select-container {
    margin-top: 30px;
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    select {
      // margin-right: 40px;
      border: 1px solid #000;
      width: 200px;
      padding: 5px;
      border-radius: 8px;
      font-size: 18px;
    }
  }
  .type-container {
    margin-top: 30px;
    input {
      padding: 4px;
      border-radius: 5px;
      border: 1px solid #000;
      width: 200px;
    }
    p {
      margin-top: 20px;
    }
  }
}
