@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("./reset.css");
@import "./variables";

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  // background: linear-gradient(220.55deg, #fff6eb 0%, #dfd1c5 100%);
}
main {
  min-height: calc(100vh - 198px);
  padding: 10px 36px;
}

footer {
  display: flex;
  align-items: inherit;
  justify-content: center;
  padding: 16px;
  .inner_container {
    width: 100%;
    border-top: 4px solid #000;
    p {
      text-align: center;
      margin-top: 20px;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
@media screen and (min-width: 1200px) {
  main {
    width: 50%;
    margin: 0 auto;
  }
}
