.header {
  padding: 20px 30px;

  h1 {
    font-size: 28px;
    line-height: 1.5;
    font-weight: bold;
  }
  .inner_container {
    border-bottom: 4px black solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    .buttons {
      display: flex;
      gap: 20px;
      align-items: center;
      background: lavender;
      button {
        transition: transform 0.3s ease;
        border-radius: 2px;
        border: 1px solid #000;
        border-bottom: 4px solid #000;
        border-right: 4px solid #000;
        padding: 10px 10px;
        &:hover {
          transform: scale(1.1);
        }
      }
      .addBtn {
        padding: 10px 10px;
      }
      .massDelBtn {
      }
    }
  }
}
